{% extends 'base.html' %}
{% block template %}
    </header>

    <section id="user_update" class="login-page">
      <h2>Edycja danych użytkownika</h2>
      <form method="POST" class="form--user_update">
          {% csrf_token %}
          {{ form.as_p }}
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{% if message.tags %} {{ message.tags }}: {% endif %} '{{ message }}'</li>
                {% endfor %}
            </ul>
            {% endif %}
          <button class="btn" type="submit">Zapisz</button>
      </form><br/>
        <div>
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
    </section>

{% endblock %}