{% extends 'base.html' %}
{% block template %}
       <!-- <ul class="nav--actions">
          <li><a href="">Zaloguj</a></li>
          <li class="highlighted"><a href="{% url 'register' %}">Załóż konto</a></li>
        </ul>-->
      </nav>
    </header>

    <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <form method="POST" action="">
          {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% endblock %}
