{% extends 'base.html' %}
{% block template %}
    </header>

    <section id="user_profile" class="login-page">
      <div class="slogan container container--90">
          <h2>Profil użytkownika</h2>
          <div class="user_data">
              <h3>Twoje dane:</h3>
              <p>Imię: {{user.first_name}}</p>
              <p>Nazwisko: {{user.last_name}}</p>
              <p>Email: {{user.username}}</p>
              <a href="{% url 'user_update' %}#user_update" class="btn">Edytuj dane użytkownika</a>
              <a href="{% url 'change_password' %}#user_update" class="btn">Zmień hasło</a>
          </div>
      </div>
    </header>

    <section class="steps">
      <h2>Historia Twoich darowizn:</h2>
        <table class="table container">
            <thead>
                <tr>
                    <th>Worki [szt.]</th>
                    <th>Przekazane dary</th>
                    <th>Organizacja</th>
                    <th>Data zgłoszenia</th>
                    <th>Status</th>
                    <th>Data realizacji</th>
                </tr>
            </thead>
            <tbody>
            {% for donation in user_donations %}
                <tr class="{% if donation.is_taken == 'Zrealizowane' %}archived{% endif %}">
                    <td>{{donation.quantity}}</td>
                    <td>{% for item in donation.categories.all %}
                        {{item.name}},
                        {% endfor %}
                    </td>
                    <td>{{donation.institution}}</td>
                    <td >{{donation.pick_up_date}}
                        {{donation.pick_up_time}}
                    </td>
                    <td>{{donation.is_taken}}
                        <a href="{{donation.id}}/#status" class="btn">Aktualizuj</a>
                    </td>
                    <td >{{donation.status_update_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}